[submodule "vendor/imgui"]
	path = vendor/imgui
	url = git@github.com:s1cb0y/imgui.git
	branch = docking
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = git@github.com:gabime/spdlog.git
	branch = v1.x
