[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/s1cb0y/OpenCVEditor
	branch = docking
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
